---
import MainLayout from "../layouts/Base.astro";
import ItemCard from "../components/ItemCard.astro";

const menu = await Astro.glob("../content/menu/*.md");

const bestSellers = menu.filter((item) => item.frontmatter.best_seller);
---

<MainLayout title="Home | CozyCup">
  <section
    class="bg-[url('/hero.jpg')] bg-auto bg-center bg-no-repeat h-[75dvh] w-full"
  >
    <div
      class="backdrop-blur-sm h-full w-full flex justify-start items-center p-4 md:p-16 rounded-2xl"
    >
      <h2 class="text-6xl md:text-9xl font-bold text-white italic text-pretty">
        Sip, <br />
        Relax, <br />
        Repeat.
      </h2>
    </div>
  </section>
  <section class="py-12 md:py-16">
    <h3 class="text-4xl font-extrabold mb-12 text-center">Best Sellers</h3>
    <ul class="flex flex-wrap gap-12 md:gap-16 justify-center">
      {
        bestSellers.map((item) => (
          <li>
            <ItemCard item={item.frontmatter} />
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
