---
const { item } = Astro.props;
---

<div
  class="rounded-lg shadow-lg max-w-xs h-[360px] bg-gray-100 bg-opacity-50 backdrop-blur-lg flex flex-col overflow-hidden"
>
  <div class="flex justify-center items-center h-[60%] overflow-hidden w-full">
    <img
      src={item.image}
      alt={"An image of " + item.name}
      class="w-full object-fill"
    />
  </div>
  <div class="p-4">
    <h4 class="text-xl font-bold">{item.name}</h4>
    <p class="text-gray-700 text-pretty">{item.description}</p>
    <span class="absolute bottom-0 mb-4 py-4 text-lg font-medium mt-4"
      >{item.bio}</span
    >
  </div>
</div>
