<header class="grid grid-cols-1 gap-4 p-4 mb-4">
  <div class="flex justify-center">
    <a class="cursor-default" href="/"
      ><img class="max-h-32" src="logo.png" alt="CozyCup Logo" /></a
    >
  </div>
  <nav class="flex justify-evenly md:justify-center gap-8 font-medium">
    <a
      class="border-b border-b-transparent hover:border-b-black transition-all duration-200"
      href="/">Home</a
    >
    <a
      class="border-b border-b-transparent hover:border-b-black transition-all duration-200"
      href="/menu">Menu</a
    >
    <a
      class="border-b border-b-transparent hover:border-b-black transition-all duration-200"
      href="/about">About Us</a
    >
    <a
      class="border-b border-b-transparent hover:border-b-black transition-all duration-200"
      href="/contact">Contact</a
    >
  </nav>
</header>
